/* treemap.module.css */
.rectangle:hover rect {
    opacity: 1; /* More visible on hover */
  }
  
  .rectangle:hover image {
    opacity: 1; /* More visible on hover */
  }
  
  .rectangle rect {
    opacity: 0.1; /* More opaque (less visible) by default */
    transition: opacity 0.2s ease-in-out;
  }
  
  .rectangle image {
    opacity: 0.7; /* Less opaque (more visible) by default */
    transition: opacity 0.2s ease-in-out;
  }

  .skeletonWrapper {
    padding-left: 1rem/* 24px */;
    padding-right: 1rem/* 24px */;
    padding-top: 0.5rem/* 24px */;
    padding-bottom: 2rem/* 24px */;
  }
  
  @keyframes shimmerAnimation {
    0% {
      background-position: -1000px 0;
    }
    100% {
      background-position: 1000px 0;
    }
  }
  
  .shimmerEffect {
    fill: #f0f0f0; /* Light gray base color for the shimmer */
    background: linear-gradient(to right, #f0f0f0 4%, #e0e0e0 25%, #f0f0f0 36%);
    background-size: 1000px 100%;
    animation: shimmerAnimation 2s infinite linear;
  }
  